.main-footer {
  .logo-footer {
    margin-bottom: $space-vertical-large;
  }
  .footer-info {
    .navbar-text {
      color: color(affina-555555);
      font-weight: normal;
      font-size: 0.875rem;
      .line-vertical {
        color: color(color-666666);
        margin: 0 0.3rem;
      }
    }
  }
  .nav {
    .nav-item {
      padding: 8px 0;
      a {
        color: color(affina-555555);
        font-weight: normal;
        font-size: 0.875rem;
        @media screen and (max-width: 767px) {
          font-size: 0.75rem;
        }
      }
    }
    .social-media {
      margin-left: -$space-vertical-medium;
      .nav-item {
        margin: 0 8px;
        .mdi {
          font-size: $navbar-icon-font-size;
        }
        &:hover {
          .mdi {
            color: color(affina-blue);
          }
        }
      }
    }
  }
  .footer {
    margin: 0rem 0rem 2rem auto;
    h5 {
      color: color(color_262626);
      font-weight: 600;
      margin-bottom: 1.25rem;
      text-transform: uppercase;
      font-size: 0.875rem;
    }
  }
  .end-of-page {
    padding-top: 1rem;
    padding-bottom: 1rem;
    p {
      color: color(color_262626);
      font-size: 0.813rem;
      font-weight: normal;
    }
  }
  .privacy-policy-term-conditions {
    a {
      color: color(affina-blue) !important;
      text-decoration: underline;
      margin: 0 0.5rem;
    }
  }
}
