.frequently-asked-question {
  .accordion-item {
    margin: 0.375rem 0;
    h2.accordion-header {
      @media screen and (max-width: 767px) {
        font-size: 0.875rem;
        font-weight: 500;
        color: color(affina-color);
      }
    }
    .accordion-button:not(.collapsed){
      background: rgba(9, 94, 251, 0.1);
      color: color(affina-blue);
      box-shadow: none !important;
    }
    .accordion-collapse {
      &.collapse{
        &.show{
          background: rgba(9, 94, 251, 0.1);
        }
      }
    }
  }
}
