.insurance-container {
  width: 100%;
  height: 100%;
  background: url("../../Images/public/background-insurance.webp") no-repeat
      center bottom,
    linear-gradient(to bottom, rgba(255, 82, 219, 1), rgba(9, 94, 251, 1));
  padding-top: 5.6rem;
  padding-bottom: 7.25rem;
  .insurance-content {
    .nav-tabs {
      border-bottom: none;
      .nav-item {
        position: relative;
        background: linear-gradient(
          to bottom,
          rgb(250 220 250),
          rgb(227 220 252)
        );
        border-radius: 100px 100px 0 0;
        margin: 0px 1.875rem;
        border-top: 1px solid rgb(250 220 250);
        z-index: 1;
        @media only screen and (max-width: 768px) {
          margin: 0px 0.5rem;
          border-radius: 50px 50px 0 0;
        }
        &.nav-item:has(button).active {
          background: red !important;
        }
        &:hover {
          background: color(white);
          // background: linear-gradient(
          //   to bottom,
          //   rgb(250 220 250),
          //   rgb(227 220 252)
          // ) !important;
          background-clip: padding-box;
          border-top: 1px solid color(white);
          z-index: 3;
          &:after,
          &:before {
            background: color(white);
            // background: linear-gradient(
            //   to bottom,
            //   rgb(250 220 250),
            //   rgb(227 220 252)
            // ) !important;
          }
        }
        &:before {
          right: -1.2rem;
          transform: skew(-310deg, 0deg);
          border-radius: 0px 2.125rem 0 0;
          @media only screen and (max-width: 768px) {
            right: -0.7rem;
            transform: skew(-325deg, 0deg);
          }
        }
        &:after {
          left: -1.2rem;
          transform: skew(310deg, 0deg);
          border-radius: 2.125rem 0px 0 0;
          @media only screen and (max-width: 768px) {
            left: -0.7rem;
            transform: skew(325deg, 0deg);
          }
        }
        &:after,
        &:before {
          content: " ";
          position: absolute;
          top: -1px;
          transition: all 250ms ease;
          width: 20%;
          height: 100%;
          background-clip: padding-box;
          background: linear-gradient(
            to bottom,
            rgb(250 220 250),
            rgb(227 220 252)
          );
          @media only screen and (max-width: 768px) {
            top: 0px;
          }
        }
        &.active {
          background: color(white);
          border-top: 1px solid color(white);
          z-index: 3;
          &:after,
          &:before {
            background: color(white);
          }
        }
        .nav-link {
          font-size: 1.37rem;
          font-weight: bold;
          background: linear-gradient(to bottom, #ff52db 0%, #095efb 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          padding: 16px 70px 17px;
          border-color: transparent !important;
          @media only screen and (max-width: 768px) {
            font-size: 0.5325rem;
            padding: 4px 12px;
          }
          @media (max-width: 360px) {
            font-size: 0.5325rem;
            padding: 4px 12px;
          }
        }
      }
    }
    .tab-content {
      // background: rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 1);
      border-radius: $button-border-radius-large;
      padding: 3.5rem 0;
      text-align: center;
      // box-shadow: 0.25rem 0.5rem 1.5rem 0 color(color-f2f2f5);
      @media only screen and (max-width: 768px) {
        padding: 1rem 0;
      }
    }
    .progress-bar-container {
      display: flex;
      justify-content: center;
      margin-bottom: 3.25rem;
      @media only screen and (max-width: 768px) {
        margin-bottom: 1rem;
      }
      .progress-bar-step {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        counter-reset: step;
        li {
          display: flex;
          justify-content: center;
          position: relative;
          box-sizing: border-box;
          flex-direction: column;
          flex: 1;
          z-index: 1;
          align-items: center;
          color: color(affina-555555);
          font-size: 1rem;
          font-weight: 500;
          &.complete {
            @media only screen and (max-width: 768px) {
              display: none !important;
            }
          }
          &.complete,
          &.active {
            color: color(affina-blue);
            font-weight: 600;
          }
          &.complete,
          &.active {
            &:before {
              background: color(affina-blue);
              color: color(white);
              border-radius: 50%;
              height: 2.625rem;
              width: 2.625rem;
              border: 1.5px solid color(affina-blue);
              @media only screen and (max-width: 768px) {
                display: none !important;
              }
            }
            &:after {
              background: color(affina-blue);
              content: "";
              height: 1.5px;
              left: -50%;
              position: absolute;
              top: 1.5rem;
              width: 100%;
              z-index: -1;
              transform: translate(1.3rem, -50%);
              @media only screen and (max-width: 768px) {
                display: none;
              }
            }
            // @media (max-width: 360px) {
            //   flex-direction: row;
            //   font-size: 0.75rem;
            //   justify-content: start;
            // }
            @media only screen and (max-width: 768px) {
              flex-direction: row;
              font-size: 0.75rem;
              justify-content: start;
            }
            // @media (min-width: 576px) {
            //   flex-direction: row;
            //   font-size: 0.75rem;
            //   justify-content: start;
            // }
          }
          &:first-child {
            &:after {
              content: none;
            }
          }
          &:before {
            font-size: 1.375rem;
            font-family: $fontMain;
            display: flex;
            align-items: center;
            justify-content: center;
            content: counter(step);
            counter-increment: step;
            color: color(affina-555555);
            border: 1.5px solid color(affina-555555);
            background: color(white);
            border-radius: 50%;
            font-weight: bold;
            height: 2.625rem;
            width: 2.625rem;
            margin-bottom: 0.5rem;
          }
          &:after {
            background: color(affina-555555);
            content: "";
            height: 1.5px;
            left: -50%;
            position: absolute;
            top: 1.5rem;
            width: 100%;
            z-index: -1;
            transform: translate(1.3rem, -50%);
          }
        }
      }
    }
    h4 {
      background: linear-gradient(to bottom, #ff52db 0%, #095efb 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.75rem;
      font-weight: normal;
      @media only screen and (max-width: 768px) {
        font-size: 0.875rem;
      }
    }
    .describe {
      margin-top: 0.5rem;
      font-weight: normal;
      font-size: 1rem;
      color: color(color-333333) !important;
      @media only screen and (max-width: 768px) {
        font-size: 0.625rem;
      }
    }
    .choose-gender {
      margin-top: 2.75rem;
      margin-bottom: 1.81rem;
      @media only screen and (max-width: 768px) {
        margin-bottom: 0.75rem;
      }
      .choose-gender-label {
        font-size: 1rem;
        color: color(color_262626) !important;
        font-weight: 500;
        padding: 0;
        @media only screen and (max-width: 768px) {
          font-size: 0.75rem;
          top: 0px;
          padding: 0 20px !important;
          justify-content: start !important;
          margin-bottom: 0.75rem;
        }
      }
      .line-or {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 0.75rem;
        .sort-line {
          min-width: 1rem;
          width: 1rem;
          height: 1px;
          margin: 0 0.3rem;
          background-color: color(affina-555555);
        }
      }
    }
    .choose-birthday {
      @media only screen and (max-width: 768px) {
        display: inline-block;
        padding: 0 1.5rem;
        width: 100%;
      }
      .choose-birthday-label {
        font-size: 1rem;
        color: color(color_262626) !important;
        font-weight: 500;
        padding: 0;
        @media only screen and (max-width: 768px) {
          font-size: 0.75rem;
          top: 0px;
          padding: 0 20px !important;
          justify-content: start !important;
          margin-bottom: 0.75rem;
        }
      }
      .width-auto.nav-item {
        width: 100%;
      }
      .react-datepicker-wrapper {
        border-radius: 3.125rem;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
        height: 3.125rem;
        flex-grow: 0;
        padding: 0.875rem 2.063rem;
        background-color: color(white);
        width: 276px;
        @media only screen and (max-width: 768px) {
          padding: 0.5rem 2.063rem;
          height: 2.5rem;
          width: 100%;
        }
        input {
          border: 0;
          padding: 0;
          @media only screen and (max-width: 768px) {
            font-size: 0.75rem;
          }
        }
      }
    }
    .sm-space-horizontal {
      margin: 0 0.5rem;
    }
    .wrap-button {
      margin-top: 2.75rem;
      margin-bottom: 1.81rem;
      position: sticky;
      bottom: 0;
      background: color(white);
      @media only screen and (max-width: 768px) {
        position: sticky;
        bottom: 0;
        margin: 0;
        left: 0;
        width: 100%;
        background: color(white);
        box-shadow: 0px -1px -1px 9px 0px color(color-dddddd);
        z-index: 10;
        .package-info-mobile {
          margin: 0.5rem 1rem;
          padding-top: 1rem;
          padding-bottom: 0.5rem;
        }
        .mobile-sum-amount {
          padding: 1rem;
          label,
          span {
            color: color(color-ff52db);
            font-size: 0.875rem;
            font-weight: 800;
          }
        }
      }
    }
    // step 2
    .insurance-content-step2 {
      .wrap-sidebar {
        &.open {
          display: block;
          animation-name: fadeInLeft;
          animation-duration: 1s;
          box-shadow: 1px 2px 2px 2px color(gray-light);
          overflow: auto;
          height: 100%;
          width: 50%;
          left: 0;
        }
        @media only screen and (max-width: 768px) {
          position: fixed;
          top: 0;
          background: color(white);
          display: none;
          z-index: 10;
          .wrap-mobile-filter {
            color: color(white);
            margin: 0 !important;
            padding: 1rem;
            text-transform: uppercase;
            h5 {
              font-size: 1rem;
            }
            .close {
              position: absolute;
              right: 0.5rem;
              top: 0.5rem;
              font-weight: bold;
            }
          }
        }
        .wrap-sidebar-content {
          @media only screen and (max-width: 768px) {
            padding: 1rem;
          }
        }
      }
      .insurance-sidebar {
        position: relative;
        margin-bottom: 2.813rem;
        .label-range {
          font-size: 0.75rem;
          color: #555;
          font-weight: 500;
          margin-bottom: 1px;
        }
        .form-label {
          display: block;
          text-align: left;
          font-size: 1.125rem;
          color: #095efb;
          font-weight: bold;
          margin-bottom: 0.688rem;
          margin-top: 0.5rem;
          @media only screen and (max-width: 768px) {
            font-size: 0.75rem;
          }
        }
        .form-check {
          margin-bottom: 1.25rem;
          .form-check-input {
            border: 1px solid color(affina-blue);
            width: 1rem;
            height: 1rem;
            margin-right: 0.625rem;
            &:focus {
              border-color: color(affina-blue);
              box-shadow: none;
            }
          }
          .form-check-label {
            display: block;
            text-align: left;
            font-weight: 500;
            font-size: 1rem;
            color: color(affina-555555);
            @media only screen and (max-width: 768px) {
              font-size: 0.75rem;
            }
          }
        }
      }
      .insurance-search-center {
        margin-bottom: 1rem;
        @media only screen and (max-width: 768px) {
          margin-bottom: 0;
        }
        .mobile-topic {
          text-align: right;
          font-size: 0.75rem;
          color: color(affina-blue);
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
        .group-search {
          input {
            border-top-left-radius: 3.125rem;
            border-bottom-left-radius: 3.125rem;
            background: color(white);
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 1rem;
            font-weight: normal;
            color: color(affina-555555);
            border: 1px solid color(color-ff52db);
            @media only screen and (max-width: 768px) {
              font-size: 0.625rem;
            }
          }
          .btn-search {
            border-top-right-radius: 3.125rem;
            border-bottom-right-radius: 3.125rem;
            background: color(color-ff52db);
            border: 1px solid color(color-ff52db);
            padding: 0.875rem 1.625rem;
            @media only screen and (max-width: 768px) {
              padding: 0.5rem 0.75rem;
              img {
                width: 0.938rem;
                height: 0.938rem;
              }
            }
          }
          .filter-vertical,
          .swap-vertical {
            padding: 0.237rem 0.823rem;
            background: color(white);
            border-radius: 0.625rem;
            border-top-left-radius: 0.625rem !important;
            border-bottom-left-radius: 0.625rem !important;
            margin-left: 0.625rem !important;
            @media only screen and (max-width: 768px) {
              position: fixed;
              right: 0;
              top: 0;
              z-index: 10;
              box-shadow: 1px 2px 2px 2px color(gray-light);
              transform: translate(0, calc(50vh - 50%));
              padding: 0.2rem 0.625rem;
              img {
                height: 1.625rem !important;
                width: 1.438rem !important;
              }
            }
          }
          .filter-vertical {
            @media only screen and (max-width: 768px) {
              font-size: 1.5rem;
              position: fixed;
              right: 0;
              top: 0;
              z-index: 10;
              box-shadow: 1px 2px 2px 2px color(gray-light);
              transform: translate(0, calc(50vh - 50%));
              color: color(color-ff52db);
              margin-top: 3.5rem;
            }
          }
        }
      }
      .insurance-center {
        .group-item-active {
          background: color(color-d7e4ff) !important;
        }
        .group-item {
          background: white;
          border-radius: 20px;
          padding: 1.125rem 0;
          margin-bottom: 1.125rem;
          .box-left {
            background-color: color(color-f9f9f9);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            border-radius: 0.75rem;
            padding: 0;
            .wrap-image {
              background: color(white);
              padding: 0.983rem;
              @media only screen and (max-width: 768px) {
                padding: 0;
              }
            }
            .insure-package-name {
              margin-top: 0.75rem;
              margin-bottom: 0.5rem;
              font-size: 1.25rem;
              font-weight: bold;
              color: color(color_262626);
              text-align: center;
              display: inline-block;
              cursor: pointer;
              @media only screen and (max-width: 768px) {
                font-size: 0.75rem;
                margin-top: 0;
                margin-bottom: 0;
              }
            }
            .wrap-star {
              padding-bottom: 0.25rem;
              .icons-star {
                margin: 0 0.01rem;
              }
              .star-active {
                color: color(color-ffc416);
                font-size: 1.2rem;
                @media only screen and (max-width: 768px) {
                  font-size: 0.675rem;
                }
              }
              .star-inactive {
                color: color(color-b2b2b2);
                font-size: 1.2rem;
                @media only screen and (max-width: 768px) {
                  font-size: 0.675rem;
                }
              }
            }
          }
          .box-right {
            padding-left: 0.938rem;
            h6.insure-package {
              font-size: 1.25rem;
              font-weight: 600;
              color: color(color_262626);
              margin-bottom: 0.5rem;
              cursor: pointer;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
              }
            }
            .discount-price {
              border-radius: 3.125rem;
              border: solid 0.5px rgba(224, 32, 32, 0.9);
              background-color: rgba(224, 32, 32, 0.15);
              color: color(color-e02020);
              font-size: 0.875rem;
              font-weight: 500;
              padding: 0 0.625rem;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
                padding: 0 0.625rem;
              }
            }

            .package-detail {
              font-size: 1rem;
              font-weight: 500;
              color: color(color-924399);
              cursor: pointer;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
              }
            }
            .package-price {
              background: color(affina-blue);
              color: color(white);
              font-size: 1.125rem;
              font-weight: bold;
              padding: 0.428rem 1.688rem;
              border-radius: 3.125rem;
              margin-bottom: 0;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
                padding: 0.2rem 0.625rem;
              }
            }
            .package-fee {
              font-size: 1rem;
              font-weight: 600;
              color: color(color-ff52db);
              margin: 0.625rem 0;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
              }
            }
            .procedure-text {
              font-size: 1rem;
              font-weight: normal;
              color: color(affina-555555);
              padding: 0.625rem 0;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
              }
            }
            .select-buy {
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: center;
              margin-bottom: 1rem;
              padding: 0.3rem 1.5rem !important;
            }
            .additional-benefits {
              color: color(affina-blue);
              font-size: 1rem;
              font-weight: 500;
              margin: 0.625rem 0;
              cursor: pointer;
              @media only screen and (max-width: 768px) {
                font-size: 0.75rem;
              }
              i {
                font-size: 1.2rem;
                vertical-align: middle;
                @media only screen and (max-width: 768px) {
                  font-size: 0.75rem;
                }
              }
            }
            .preview-package {
              color: color(affina-blue);
              font-size: 1rem;
              font-weight: 500;
              margin: 0.625rem 0;
              cursor: pointer;
              i {
                font-size: 1.2rem;
                vertical-align: middle;
              }
            }
          }
          .package-additional-preview {
            margin-top: 2rem;
            @media only screen and (max-width: 768px) {
              margin-top: 1rem;
            }
            .wrap-check {
              display: block;
              position: relative;
              margin-right: 2.18rem;
              top: -1.875rem;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              .check-mark {
                position: absolute;
                top: 0;
                left: 0;
                width: 1.375rem;
                height: 1.375rem;
                background: color(color-f8fafe);
                border-radius: 50%;
                &:after {
                  content: "\F012C";
                  font-size: 1rem !important;
                  color: color(affina-blue);
                  font: normal normal normal 24px/1 "Material Design Icons";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 1.375rem;
                  height: 1.375rem;
                  border-radius: 50%;
                  background: color(color-f8fafe);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked ~ .check-mark {
                  background: color(affina-blue);
                  &:after {
                    background: color(affina-blue);
                    // content: "\F0E1E";
                    content: "\F012C";
                    font-size: 1rem !important;
                    color: color(white);
                    font: normal normal normal 24px/1 "Material Design Icons";
                  }
                }
              }
            }
            label.insure-package {
              font-size: 1rem;
              font-weight: 600;
              color: color(color_262626);
              flex: 1;
              text-align: left;
              // margin-bottom: 0.5rem;
              @media only screen and (max-width: 768px) {
                font-size: 0.75rem;
              }
            }
            .selling {
              border-radius: 3.125rem;
              border: solid 0.5px color(color-27ae60);
              background-color: rgba(39, 174, 96, 0.15);
              font-size: 0.875rem;
              color: color(color-27ae60);
              font-weight: 500;
              padding: 0 0.625rem;
            }
            .package-price {
              background: color(white);
              border: 1px solid color(affina-blue);
              color: color(affina-blue);
              font-size: 1.125rem;
              font-weight: bold;
              padding: 0.428rem 1.688rem;
              border-radius: 3.125rem;
              margin-bottom: 0;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
                padding: 0.2rem 0.625rem;
              }
            }
            .package-detail {
              font-size: 1rem;
              font-weight: 500;
              color: color(color-924399);
              cursor: pointer;
            }
            .package-fee {
              font-size: 1rem;
              font-weight: 600;
              color: color(color-ff52db);
              margin: 0.625rem 0;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
              }
            }
            .procedure-text {
              font-size: 1rem;
              font-weight: normal;
              color: color(affina-555555);
              padding: 0.625rem 0;
              @media only screen and (max-width: 768px) {
                font-size: 0.625rem;
              }
            }
          }
        }
      }
    }
    .sidebar-right-content {
      padding: 1rem 0.75rem;
      border-radius: 1.25rem;
      text-align: left;
      margin-bottom: 1.25rem !important;
      @media only screen and (max-width: 768px) {
        &.open {
          position: fixed !important;
          bottom: 0;
          display: block !important;
          z-index: 10;
          background: color(white);
          height: 70%;
          overflow: scroll;
          transform: translate(0, 50%);
          top: 0;
          width: 100%;
          left: 0;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          animation-name: fadeInUp;
          animation-duration: 1s;
        }
      }
      .form-label {
        display: block;
        text-align: left;
        font-size: 1.125rem;
        color: #095efb;
        font-weight: bold;
        margin-bottom: 0.688rem;
        margin-top: 0.5rem;
      }
      .unit {
        color: color(color-924399);
        font-size: 0, 875rem;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 0.438rem;
      }
      .brief-info {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        .ms3 {
          margin-top: 0.75rem;
          margin-bottom: 0.75rem;
        }
        .wrap-box-delete {
          width: 1.313rem;
          height: 1.313rem;
          background: color(white);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          margin-left: 0.2rem;
          text-align: center;
          color: color(affina-555555);
          cursor: pointer;
        }
        .nav {
          margin-bottom: 0.375rem;
          .nav-item {
            font-size: 0.875rem;
            color: color(black);
            font-weight: normal;
          }
        }
      }
      .main-package-fee {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }
      .package-additional {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        .nav-item {
          &.topic {
            color: color(affina-blue);
          }
        }
      }
      .into-money {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }
      .promotion {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        input {
          border-radius: 50px;
          border: 1px solid color(color-e6e6e6);
          background: color(white);
          padding: 0.5rem 0.75rem;
          color: color(affina-555555);
          font-size: 0.875rem;
          font-weight: normal;
          width: 100%;
        }
      }
      .total-money {
        margin-top: 1.188rem;
        label {
          font-size: 1.125rem;
          color: color(color-ff52db);
          font-weight: 800;
        }
      }
      .list-benefit-main {
        padding: 0;
        li {
          list-style: none;
          position: relative;
          padding-left: 1rem;
          border-bottom: 1px dashed color(color-e6e6e6);
          padding-bottom: 0.625rem;
          // &:before {
          //   content: "\F012C";
          //   font-family: "Material Design Icons";
          //   margin-right: 0.625rem;
          //   color: color(color-27ae60);
          //   position: absolute;
          //   left: 0;
          //   font-size: 1.2rem;
          // }
          .topic-benefit {
            color: color(color-333333);
            font-size: 1rem;
            font-weight: normal;
            margin: 0.5rem 0;
          }
          b {
            font-weight: 600;
            font-size: 0.875rem;
            color: color(color_262626);
          }
        }
      }
    }
    // step 3
    .insurance-content-step3 {
      h5 {
        font-size: 1.75rem;
        font-weight: normal;
        background-image: linear-gradient(to bottom, #ff52db, #095efb);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2.625rem;
      }
      .group-info {
        border-radius: 1.25rem;
        background: color(white);
        .header {
          background: color(bg-color-F5F5F5);
          border-top-left-radius: 1.25rem;
          border-top-right-radius: 1.25rem;
          .ms-auto,
          .icon-header {
            @media only screen and (max-width: 768px) {
              img {
                width: 0.875rem;
                height: 1.063rem;
              }
            }
          }
          .title-header {
            h3 {
              font-size: 1.25rem;
              font-weight: bold;
              color: color(affina-blue);
              letter-spacing: 0.06px;
              margin-left: 1.25rem;
              margin-bottom: 0;
              padding: 1.375rem 0;
              @media only screen and (max-width: 768px) {
                font-size: 0.875rem;
              }
            }
          }
        }
        .insurance-info {
          margin: 1.375rem 0;
          .list-info {
            display: grid;
            .title-info {
              font-size: 0.875rem;
              font-weight: 600;
              color: color(affina-555555);
              letter-spacing: 0.06px;
              margin-bottom: 0.5rem;
            }
            .sub-info-insure {
              margin-bottom: 1rem;
              .benefits-title {
                font-size: 1rem;
                letter-spacing: 0.06px;
                font-weight: 600;
                margin-bottom: 0.5rem;
                color: color(color_262626);
                @media only screen and (max-width: 768px) {
                  font-size: 0.75rem;
                }
              }
              .benefits-price {
                font-weight: 600;
                font-size: 0.875rem;
                color: color(affina-blue);
                margin-left: 1rem;
                @media only screen and (max-width: 768px) {
                  font-size: 0.75rem;
                }
              }
            }
            .row {
              margin-top: 1rem;
              margin-bottom: 1rem;
              @media only screen and (max-width: 768px) {
                margin-top: 0.5rem !important;
                margin-bottom: 0.5rem !important;
              }
            }
            p {
              margin-bottom: 0;
            }
            .table-footer {
              display: inline-block;
              margin: 1rem 0;
            }
            .total {
              display: flex;
              font-size: 1.75rem;
              font-weight: 800;
              color: color(color-ff52db);
              letter-spacing: 0.06px;
              @media only screen and (max-width: 768px) {
                font-size: 1.125rem;
              }
              strong {
                margin-left: 1.125rem;
              }
            }
          }
        }
      }
      .insurance-content-step3-input {
        .income-info {
          .group-vertical {
            display: flex;
            align-items: center;
            margin: 1rem 1.5rem 1.5rem 0;
          }
          input.form-check-input {
            width: 1.75rem;
            height: 1.75rem;
            &:focus {
              box-shadow: none;
            }
          }
          label.form-check-label {
            font-size: 1rem;
            font-weight: 500;
            margin-left: 1rem;
            flex: 1;
          }
          .check-commit {
            label.form-check-label {
              font-weight: normal;
            }
          }
        }
      }
    }
    // Step 4
    .insurance-content-step4 {
      .insurance-pay {
        @media only screen and (max-width: 768px) {
          border-radius: 1.25rem;
        }
        h2 {
          font-size: 1.5rem;
          font-weight: bold;
          color: color(color_262626Œ);
          padding-top: 1rem;
          padding-bottom: 0.5rem;
        }
        .container {
          @media only screen and (max-width: 768px) {
            padding: 0;
          }
          .payment-group {
            border: 1px solid color(color-e6e6e6);
            padding: 0 2rem;
            border-radius: 1.25rem;
            margin-top: 1rem;
            @media only screen and (max-width: 768px) {
              padding: 0 0.75rem;
            }
            .payment-header {
              margin: 0.938rem 0;
              @media only screen and (max-width: 768px) {
                img {
                  width: 1.875rem;
                  height: 1.875rem;
                }
              }
              .payment-title {
                font-size: 1.125rem;
                font-weight: 500;
                color: color(color-151515);
                margin-left: 1.5rem;
                @media only screen and (max-width: 768px) {
                  font-size: 0.875rem;
                }
              }
              .wrap-check {
                display: block;
                position: relative;
                // margin-right: 2.18rem;
                // top: -1.875rem;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                @media only screen and (max-width: 768px) {
                  width: 1.125rem;
                  height: 1.125rem;
                }
                .check-mark {
                  // position: absolute;
                  top: 0;
                  left: 0;
                  width: 2rem;
                  height: 2rem;
                  background: color(color-f8fafe);
                  border: 1px solid color(affina-blue);
                  border-radius: 50%;
                  // transform: translate(0, 50%);
                  display: block;
                  @media only screen and (max-width: 768px) {
                    width: 1.125rem;
                    height: 1.125rem;
                  }
                  &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background: color(color-f8fafe);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media only screen and (max-width: 768px) {
                      width: 1.125rem;
                      height: 1.125rem;
                    }
                  }
                }
                input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  &:checked ~ .check-mark {
                    background: color(affina-blue);
                    &:after {
                      background: color(affina-blue);
                      // content: "\F0E1E";
                      content: "\F012C";
                      font-size: 1.3rem !important;
                      color: color(white);
                      font: normal normal normal 24px/1 "Material Design Icons";
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // response
    .response-fail {
      h4 {
        color: red;
        @media only screen and (max-width: 768px) {
          font-size: 1rem !important;
        }
      }
    }
    .response-success {
      h4 {
        color: color(color-219653);
        @media only screen and (max-width: 768px) {
          font-size: 1rem !important;
        }
      }
    }

    .response-data {
      width: 80%;
      margin: 0 auto;
      border-radius: 1.25rem;
      padding: 4rem 0;
      h4 {
        font-size: 1.875rem;
        font-weight: 800;
        margin: 2.25rem 0;
        text-transform: uppercase;
        @media only screen and (max-width: 768px) {
          font-size: 1rem !important;
        }
      }
      p {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.27px;
        color: color(black);
        @media only screen and (max-width: 768px) {
          font-size: 0.75rem !important;
        }
      }
    }
  }
}
// Style insurance group
.insurance-group-step1-content {
  width: 903px;
  margin: auto;
  h4 {
    margin-bottom: 2.813rem;
  }
  table {
    thead {
      background: color(color-f6f9ff);
      text-transform: uppercase;
      color: color(affina-blue);
      font-size: 1.25rem;
      font-weight: 600;
      @media only screen and (max-width: 768px) {
        font-size: 0.75rem;
      }
    }
    tbody {
      td {
        font-size: 1rem;
        font-weight: 500;
        color: color(color_262626);
        letter-spacing: 0.06px;
        @media only screen and (max-width: 768px) {
          font-size: 0.75rem;
        }
      }
    }
    td,
    th {
      padding: 1rem;
    }
    > :not(:first-child) {
      border-top: 0 !important;
    }
  }
  .btn-add-person {
    margin: 3rem 0;
    @media only screen and (max-width: 768px) {
      margin: 1rem 0;
    }
    span.text-plus {
      font-size: 1.5rem;
      @media only screen and (max-width: 768px) {
        font-size: 0.75rem;
      }
    }
  }
 .button-load-file {
  position: relative;
    width: 153.9px;
      height: 55px;
      flex-grow: 0;
      border-radius: 6px;
      border: solid 1.2px #095efb;
      background-color: #fbfdfe;
 }
    .Chn-file {
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      width: 153.9px;
      height: 55px;
      font-family: Manrope;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #095efb;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .line-or-left {
      width: 107px;
      height: 1px;
        flex-grow: 0;
        margin: 9px 8px 9px 0;
        transform: rotate(-360deg);
        background-image: linear-gradient(to left, #ff52db 100%, #095efb 0%), linear-gradient(to bottom, #ff52db 0%, #095efb -100%);
    }
         .line-or-right {
           width: 107px;
           height: 1px;
           flex-grow: 0;
          margin: 9px 0 9px 8px;
           transform: rotate(-360deg);
            background-image: linear-gradient(to right, #ff52db 0%, #095efb 100%), linear-gradient(to bottom, #ff52db, #095efb -100%);
         }
  .box-upload {
    margin-left: -12px;
    margin-top: 40px;
    width: 903px;
    height: 124px;
    border: 1.6px dashed color(affina-blue);
    border-radius: 16px;
    background: color(color-f6f9ff);

    .text-content-upload {
      text-align: start;
      span {
        font-size: 1.125rem;
        color: color(color_262626);
        font-weight: normal;
        @media only screen and (max-width: 768px) {
          font-size: 0.75rem;
        }
      }
      small {
        font-size: 1rem;
        color: color(affina-555555);
        font-weight: normal;
        @media only screen and (max-width: 768px) {
          font-size: 0.75rem;
        }
      }
    }
  }
  .group-add-info {
    h3 {
      font-weight: 600;
      font-size: 1.25rem;
      color: color(color-333333);
      margin-top: 2.5rem;
      margin-bottom: 1.4375rem;
    }
  }
}
.insurance-groups-step2 {
  .group-insurance {
    .accordion-item {
      border: 0 !important;
      background: color(white);
      border-radius: 1.25rem;
      &.show {
        background: color(color-f6f9ff);
      }
      .accordion-header {
        .text-header {
          font-size: 1.125rem;
          color: color(affina-blue);
          font-weight: bold;
          span {
            font-weight: normal;
          }
          small {
            font-size: 1rem;
            color: color(affina-555555);
            font-weight: normal;
          }
        }
        button {
          box-shadow: none !important;
          background: color(color-f6f9ff);
          border-top-left-radius: 1.25rem;
          border-top-right-radius: 1.25rem;
          &.collapsed {
            background: transparent;
          }
        }
      }
      .accordion-collapse {
        padding: 0 1.25rem;
        &.collapse {
          background: color(color-f6f9ff);
          border-bottom-left-radius: 1.25rem;
          border-bottom-right-radius: 1.25rem;
        }
      }
    }
  }
}
.insurance-group-step3-input {
  h5 {
    font-size: 1.75rem;
    font-weight: normal;
    background-image: linear-gradient(to bottom, #ff52db, #095efb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2.625rem;
  }
  .list-group {
    border: 1px solid color(color-e6e6e6);
    border-radius: 1.25rem;
    .list-group-item {
      margin: 0 1rem;
      padding: 0.875rem 0rem;
      display: flex;
      flex: 1;
      font-size: 17px;
      text-transform: uppercase;
      cursor: pointer;
      &.title {
        margin: 0 0;
        padding: 1rem 1rem;
        background: color(color-f6f9ff);
        color: color(affina-blue);
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .is-select{
        color: color(color-27ae60);
      }
    }
  }
}
