body {
  font-size: $default-font-size;
  font-family: $fontMain;
  color: color(affina-color);
  .bg-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 43%);
    top: 0;
    left: 0;
    z-index: 10;
  }
  .loading-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/5/54/Ajux_loader.gif");
    z-index: 9999;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: color(white);
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .empty-data {
    font-size: 1.125rem;
    color: color(affina-555555);
    font-weight: normal;
    @media only screen and (max-width: 768px) {
      font-size: 0.75rem;
    }
  }
  .main-container {
    width: 100%;
    height: 100%;
    background: url("../../Images/public/background-insurance.webp") no-repeat
        center bottom,
      linear-gradient(to bottom, rgba(255, 82, 219, 0.1), rgba(9, 94, 251, 0.1));
    padding-top: 5.6rem;
    padding-bottom: 7.25rem;
    @media only screen and (max-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .main-content {
      background: rgba(255, 255, 255, 0.6);
      border-radius: $button-border-radius-large;
      padding: 3.5rem 1rem;
      // text-align: center;
    }
  }
  .main-table {
    table {
      thead {
        background: color(color-f6f9ff);
        text-transform: uppercase;
        color: color(affina-blue);
        font-size: 1.25rem;
        font-weight: 600;
        @media only screen and (max-width: 768px) {
          font-size: 0.75rem;
        }
      }
      tbody {
        td {
          font-size: 1rem;
          font-weight: 500;
          color: color(color_262626);
          letter-spacing: 0.06px;
          @media only screen and (max-width: 768px) {
            font-size: 0.75rem;
          }
        }
      }
      td,
      th {
        padding: 1rem;
      }
      > :not(:first-child) {
        border-top: 0 !important;
      }
    }
  }
  .translucent-layer {
    // background: rgb(0 0 0 / 22%);
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.line-default {
  border-bottom: 1px solid RGBA(0, 0, 0, 0.1);
  width: 100%;
  margin: 4rem 0px;
}
.line-solid {
  border-bottom: 1px solid;
}
.line-dotted {
  border-bottom: 1px dotted color(color-e6e6e6);
}
.line-dashed {
  border-bottom: 1px dashed;
}
.line-e6e6e6 {
  border-bottom-color: color(color-e6e6e6);
}
.line-white {
  border-bottom-color: color(color-white);
}
.reset-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}
.reset-padding-right {
  padding-right: 0;
}
.reset-padding-left {
  padding-left: 0;
}

.privacy-policy,
.term-conditions {
  margin: 2rem auto;
  h4 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  p {
    letter-spacing: 1px;
    font-weight: normal;
  }
}
.btn-lg {
  padding: 1rem 6rem !important;
}
.btn-md {
  padding: 1rem 3rem !important;
  @media only screen and (max-width: 768px) {
    padding: 0.5rem 1rem !important;
  }
}
.btn-sm {
  padding: 0.75rem 2rem !important;
  @media only screen and (max-width: 768px) {
    padding: 0.5rem 1rem !important;
  }
}

.btn-outline-blue {
  background: color(white);
  color: color(affina-blue);
  font-size: $default-font-size-large-18;
  border-radius: $button-border-radius-large;
  border: 1px solid color(affina-blue);
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
  &.outline-blue-active,
  &:hover {
    background: color(affina-blue);
    color: color(white);
    border: 1px solid color(white);
  }
}
.btn-blue {
  background: color(affina-blue);
  color: color(white);
  font-size: $default-font-size-large-18;
  border-radius: $button-border-radius-large;
  border: 1px solid color(white);
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
  &:hover {
    background: color(white);
    color: color(affina-blue);
    border: 1px solid color(affina-blue);
  }
}

.btn-outline-pink {
  background: color(white);
  color: color(color-ff52db);
  font-size: $default-font-size-large-18;
  border-radius: $button-border-radius-large;
  border: 1px solid color(color-ff52db);
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
  &.outline-pink-active,
  &:hover {
    background: color(color-ff52db) !important;
    color: color(white);
    border: 1px solid color(white);
    img {
      filter: brightness(0) invert(1);
    }
  }
}

.btn-pink {
  background: color(color-ff52db);
  color: color(white);
  font-size: $default-font-size-large-18;
  border-radius: $button-border-radius-large;
  border: 1px solid color(white);
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
  &:hover {
    background: color(white);
    color: color(color-ff52db);
    border: 1px solid color(color-ff52db);
    img {
      filter: brightness(0) invert(1);
    }
  }
}

.btn-grey {
  background: color(color-dddddd);
  color: color(white);
  font-size: $default-font-size-large-18;
  border-radius: $button-border-radius-large;
  border: 1px solid color(color-dddddd);
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
  // &:hover {
  //   background: color(color-ff52db);
  //   color: color(white);
  //   border: 1px solid color(white);
  // }
}
.line-gradient {
  width: 100%;
  box-sizing: border-box;
  $border: 1px;
  background-clip: padding-box;
  border: thin $border transparent;
  display: flex;
  color: #fff;
  position: relative;
  margin: 0.8rem 0;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, #095efb, #ff52db);
  }
}

.background-gradient-to-bottom {
  background: linear-gradient(to bottom, #ff52db, #095efb);
  background-clip: padding-box;
}
.img-white {
  filter: brightness(0) invert(1);
}

.my-sticky-top {
  position: sticky !important;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.xs-visibility {
  display: none;
}

@media (max-width: 360px) {
  .width-auto {
    width: 100%;
  }
  .xs-hidden {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .width-auto {
    width: 100%;
  }
  .xs-hidden {
    display: none !important;
  }
  .xs-visibility {
    display: block !important;
  }
}

//

.payment-content {
  margin: 1.75rem 0;
  @media only screen and (max-width: 768px) {
    flex-direction: column !important;
    align-items: center !important;
    .qr-payment {
      text-align: center;
    }
  }
  h5 {
    font-size: 1.125rem;
    font-weight: bold;
    color: color(color_262626) !important;
    margin-bottom: 1.75rem;
    @media only screen and (max-width: 768px) {
      font-size: 0.875rem;
      margin-bottom: 1.25rem;
    }
  }
  .payment-info {
    text-align: left;
    @media only screen and (max-width: 768px) {
      h5 {
        text-align: center;
      }
    }
    .info-transfer {
      border: 1px solid color(color-e6e6e6);
      padding: 1rem;
      border-radius: 1.25rem;
      p {
        font-size: 1.125rem !important;
        font-weight: 500;
        color: color(color-333333) !important;
        @media only screen and (max-width: 768px) {
          font-size: 0.75rem !important;
        }
        strong {
          font-weight: 600;
          color: color(black);
        }
      }
    }
  }
  .wrapper-line {
    margin: 0 3.375rem;
    @media only screen and (max-width: 768px) {
      width: 100%;
      margin: 1rem 0;
    }
    .vertical-line {
      border-left: 1px dashed color(color-e6e6e6);
      height: 100%;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 768px) {
        width: 100%;
        height: 1px;
        left: 0;
        border-bottom: 1px dashed color(color-e6e6e6);
        position: static;
      }
      .word {
        transform: translate(-50%, 0);
        top: 0;
        background: #fff;
        bottom: 0;
        @media only screen and (max-width: 768px) {
          top: 50%;
          transform: translate(9, 50%);
        }
      }
    }
  }

  .cut-border {
    position: relative;
    display: inline-block;
    border: 2px solid color(affina-blue);
    width: 10.75rem;
    height: 10.75rem;
    border-radius: 1.25rem;
    padding: 0.625rem;
  }
  .cut-border::before {
    content: "";
    position: absolute;
    height: calc(100% + 0.625rem);
    width: 50%;
    background-color: color(white);
    top: -5px;
    left: 25%;
  }
  .cut-border::after {
    content: "";
    position: absolute;
    height: 50%;
    width: calc(100% + 0.625rem);
    background-color: color(white);
    top: 25%;
    left: -5px;
  }
  .content-conner {
    position: absolute;
    z-index: 1;
    width: calc(100% - 1rem);
    height: 100%;
    background-image: url("../../Images/public/qr-payment.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    top: 0;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none !important;
}
.error-ageing {
  margin: 1rem 0;
  label {
    font-style: italic;
    color: color(color-ff52db);
  }
}

.text-color-main {
  color: color(color-ff52db);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.text-gradient {
  background: linear-gradient(to right, #095efb 0, #ff52db 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.wrapper-horizontal-line {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  span.word {
    padding: 0 0.625rem;
  }
}
.is-login {
  cursor: pointer;
}
.icon-logout {
  color: #fc52db;
  margin-left: 0.625rem;
  cursor: pointer;
}
.textOverflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-package-list{
  li{
    display: flex;
    align-items: center;
    position: relative;
    i{
      font-size: 1.875rem;
      position: absolute;
      left: -1.5625rem
    }
  }
}